html{
    background-color:skyblue
} 

th{ 
    padding:10px; 
    font-size:110%; 
} 

td{ 
    text-align:center; 
    padding: 5px ;
} 

input{
    padding:10px;
    margin:5px;
    margin-top:10px;
}

table{
    margin-top:10px;
    border: 1px solid black;
}

th,tr,td{
    border:1px solid black;
}
  
#crypto_secu{
	  border: 1px solid black;
	  margin:5%;
	  float:bottom;
}

body{
      font-family:sans-serif;
      width:80%;
      margin:auto;
      font-size:12pt;
}
