html{
    background-color:#87CEEB
}

body{
      font-family:sans-serif;
      width:80%;
      margin:auto;
      font-size:12pt;
}

h1, #msgbelow{
    display:block;
    text-align:center;
}


#linkstable tr th{
    padding:10px;
    font-size:110%;
    margin:0;
    border: 3px solid black;
    border-bottom:none;
}

#notiflinkbymail {display:block;padding:3px}

#linkstable td{
    text-align:center;
    padding: 5px ;
}

#linkstable input{
    padding:10px;
    margin:5px;
    margin-top:10px;
}

#linkstable table{
    margin-top:10px;
    border: 1px solid black;
}

#linkstable td{
    border:1px solid black;
}

#logoutbtn {
    display: inline;
    float:right;
    top: 0;
    right: 0;
    position:absolute;
}

#msg{
    display:block;
    margin-left:auto;
    margin-right:auto;
	border: 1px solid black;
	overflow: -moz-scrollbars-none;
	resize:vertical;
	width:50%;
	-ms-overflow-style:none;
}


#msg::-webkit-scrollbar {
    width: 0 !important
}

#success {
	color:green;
}

#failure {
	color:red;
}

#loginbox #loginerr{
    border:none;
    margin-right:auto;
    margin-left:auto
}

#loginbox input {
	width:100%;
	padding: 5px;
	line-height:25px;

}

#loginbox td {
	text-align:right;
	border:none;
}

#loginbox tr {
	border:none;
}

#authbtn td {
	text-align:center;
}

#authbtn input {
	width:100px;
}

#mailfied {
    padding: 10px
}

#refreshbtn, #deletelinkbtn, #deleteallbtn,
#logoutbtn, #genlinkbtn, #sendbtn  {
	border-radius:0
	border:3px outset silver;
	padding:15px;
	margin:5px;
}

#mailfield {
	padding: 10px;
}

@media screen and (max-width: 740px) {
	body {
        font-size:0.8em;
    }

    h1{
        font-size:1.5em;
    }

	#linkstable th,td{
        padding:3px;
    }

	#linkstable input{
	    padding:4px;
	    margin:2px;
	    margin-top:10px;
	}
	
	#loginbox input{
		padding: 2px;
		line-height:15px;
	}

    #logoutbtn {
        float:none;
        top:unset;
        right:unset;
        position:revert;
    }

    #mailfield{
        padding: 3px;
    }
   
    #msg {
        width:50%;
        margin:0;
    }

    #msgbelow {
        text-align:left;
    }

    #refreshbtn, #deletelinkbtn, #deleteallbtn,
    #logoutbtn, #genlinkbtn, #sendbtn  {
        padding: 8px
    }
   
    #genlinkbtn{
        display:block
    }

    #sendbtn {
        display:inline
    }

    #notiflinkbymail, #notiflinkbymail input {
		display:block;
		padding:10px;
	}
}
